
packages/Dapper.1.38/.signature.p7s
packages/Dapper.1.38/Dapper.1.38.nupkg
packages/Dapper.1.38/lib/net35/Dapper.dll
packages/Dapper.1.38/lib/net35/Dapper.pdb
packages/Dapper.1.38/lib/net35/Dapper.xml
packages/Dapper.1.38/lib/net40/Dapper.dll
packages/Dapper.1.38/lib/net40/Dapper.pdb
packages/Dapper.1.38/lib/net40/Dapper.xml
packages/Dapper.1.38/lib/net45/Dapper.dll
packages/Dapper.1.38/lib/net45/Dapper.pdb
packages/Dapper.1.38/lib/net45/Dapper.xml
packages/Dapper.1.39/.signature.p7s
packages/Dapper.1.39/Dapper.1.39.nupkg
packages/Dapper.1.39/lib/net35/Dapper.dll
packages/Dapper.1.39/lib/net35/Dapper.pdb
packages/Dapper.1.39/lib/net35/Dapper.xml
packages/Dapper.1.39/lib/net40/Dapper.dll
packages/Dapper.1.39/lib/net40/Dapper.pdb
packages/Dapper.1.39/lib/net40/Dapper.xml
packages/Dapper.1.39/lib/net45/Dapper.dll
packages/Dapper.1.39/lib/net45/Dapper.pdb
packages/Dapper.1.39/lib/net45/Dapper.xml
packages/EntityFramework.6.2.0/.signature.p7s
packages/EntityFramework.6.2.0/content/net40/App.config.transform
packages/EntityFramework.6.2.0/content/net40/Web.config.transform
packages/EntityFramework.6.2.0/EntityFramework.6.2.0.nupkg
packages/EntityFramework.6.2.0/lib/net40/EntityFramework.dll
packages/EntityFramework.6.2.0/lib/net40/EntityFramework.SqlServer.dll
packages/EntityFramework.6.2.0/lib/net40/EntityFramework.SqlServer.xml
packages/EntityFramework.6.2.0/lib/net40/EntityFramework.xml
packages/EntityFramework.6.2.0/lib/net45/EntityFramework.dll
packages/EntityFramework.6.2.0/lib/net45/EntityFramework.SqlServer.dll
packages/EntityFramework.6.2.0/lib/net45/EntityFramework.SqlServer.xml
packages/EntityFramework.6.2.0/lib/net45/EntityFramework.xml
packages/EntityFramework.6.2.0/tools/about_EntityFramework.help.txt
packages/EntityFramework.6.2.0/tools/EntityFramework.PowerShell.dll
packages/EntityFramework.6.2.0/tools/EntityFramework.PowerShell.Utility.dll
packages/EntityFramework.6.2.0/tools/EntityFramework.psd1
packages/EntityFramework.6.2.0/tools/EntityFramework.psm1
packages/EntityFramework.6.2.0/tools/init.ps1
packages/EntityFramework.6.2.0/tools/install.ps1
packages/EntityFramework.6.2.0/tools/migrate.exe
packages/Sqlite.Interop.Net46.x64.1.0.109/.signature.p7s
packages/Sqlite.Interop.Net46.x64.1.0.109/content/x64/SQLite.Interop.dll
packages/Sqlite.Interop.Net46.x64.1.0.109/Sqlite.Interop.Net46.x64.1.0.109.nupkg
packages/System.Data.SQLite.1.0.111.0/.signature.p7s
packages/System.Data.SQLite.1.0.111.0/System.Data.SQLite.1.0.111.0.nupkg
packages/System.Data.SQLite.Core.1.0.111.0/.signature.p7s
packages/System.Data.SQLite.Core.1.0.111.0/build/net20/System.Data.SQLite.Core.targets
packages/System.Data.SQLite.Core.1.0.111.0/build/net20/x64/SQLite.Interop.dll
packages/System.Data.SQLite.Core.1.0.111.0/build/net20/x86/SQLite.Interop.dll
packages/System.Data.SQLite.Core.1.0.111.0/build/net40/System.Data.SQLite.Core.targets
packages/System.Data.SQLite.Core.1.0.111.0/build/net40/x64/SQLite.Interop.dll
packages/System.Data.SQLite.Core.1.0.111.0/build/net40/x86/SQLite.Interop.dll
packages/System.Data.SQLite.Core.1.0.111.0/build/net45/System.Data.SQLite.Core.targets
packages/System.Data.SQLite.Core.1.0.111.0/build/net45/x64/SQLite.Interop.dll
packages/System.Data.SQLite.Core.1.0.111.0/build/net45/x86/SQLite.Interop.dll
packages/System.Data.SQLite.Core.1.0.111.0/build/net451/System.Data.SQLite.Core.targets
packages/System.Data.SQLite.Core.1.0.111.0/build/net451/x64/SQLite.Interop.dll
packages/System.Data.SQLite.Core.1.0.111.0/build/net451/x86/SQLite.Interop.dll
packages/System.Data.SQLite.Core.1.0.111.0/build/net46/System.Data.SQLite.Core.targets
packages/System.Data.SQLite.Core.1.0.111.0/build/net46/x64/SQLite.Interop.dll
packages/System.Data.SQLite.Core.1.0.111.0/build/net46/x86/SQLite.Interop.dll
packages/System.Data.SQLite.Core.1.0.111.0/lib/net20/System.Data.SQLite.dll
packages/System.Data.SQLite.Core.1.0.111.0/lib/net20/System.Data.SQLite.dll.config
packages/System.Data.SQLite.Core.1.0.111.0/lib/net20/System.Data.SQLite.xml
packages/System.Data.SQLite.Core.1.0.111.0/lib/net40/System.Data.SQLite.dll
packages/System.Data.SQLite.Core.1.0.111.0/lib/net40/System.Data.SQLite.dll.config
packages/System.Data.SQLite.Core.1.0.111.0/lib/net40/System.Data.SQLite.xml
packages/System.Data.SQLite.Core.1.0.111.0/lib/net45/System.Data.SQLite.dll
packages/System.Data.SQLite.Core.1.0.111.0/lib/net45/System.Data.SQLite.dll.config
packages/System.Data.SQLite.Core.1.0.111.0/lib/net45/System.Data.SQLite.xml
packages/System.Data.SQLite.Core.1.0.111.0/lib/net451/System.Data.SQLite.dll
packages/System.Data.SQLite.Core.1.0.111.0/lib/net451/System.Data.SQLite.dll.config
packages/System.Data.SQLite.Core.1.0.111.0/lib/net451/System.Data.SQLite.xml
packages/System.Data.SQLite.Core.1.0.111.0/lib/net46/System.Data.SQLite.dll
packages/System.Data.SQLite.Core.1.0.111.0/lib/net46/System.Data.SQLite.dll.config
packages/System.Data.SQLite.Core.1.0.111.0/lib/net46/System.Data.SQLite.xml
packages/System.Data.SQLite.Core.1.0.111.0/lib/netstandard2.0/System.Data.SQLite.dll
packages/System.Data.SQLite.Core.1.0.111.0/lib/netstandard2.0/System.Data.SQLite.dll.config
packages/System.Data.SQLite.Core.1.0.111.0/lib/netstandard2.0/System.Data.SQLite.xml
packages/System.Data.SQLite.Core.1.0.111.0/runtimes/linux-x64/native/netstandard2.0/SQLite.Interop.dll
packages/System.Data.SQLite.Core.1.0.111.0/runtimes/osx-x64/native/netstandard2.0/SQLite.Interop.dll
packages/System.Data.SQLite.Core.1.0.111.0/runtimes/win-x64/native/netstandard2.0/SQLite.Interop.dll
packages/System.Data.SQLite.Core.1.0.111.0/runtimes/win-x86/native/netstandard2.0/SQLite.Interop.dll
packages/System.Data.SQLite.Core.1.0.111.0/System.Data.SQLite.Core.1.0.111.0.nupkg
packages/System.Data.SQLite.EF6.1.0.111.0/.signature.p7s
packages/System.Data.SQLite.EF6.1.0.111.0/content/net40/app.config.install.xdt
packages/System.Data.SQLite.EF6.1.0.111.0/content/net40/app.config.transform
packages/System.Data.SQLite.EF6.1.0.111.0/content/net40/web.config.install.xdt
packages/System.Data.SQLite.EF6.1.0.111.0/content/net40/web.config.transform
packages/System.Data.SQLite.EF6.1.0.111.0/content/net45/app.config.install.xdt
packages/System.Data.SQLite.EF6.1.0.111.0/content/net45/app.config.transform
packages/System.Data.SQLite.EF6.1.0.111.0/content/net45/web.config.install.xdt
packages/System.Data.SQLite.EF6.1.0.111.0/content/net45/web.config.transform
packages/System.Data.SQLite.EF6.1.0.111.0/content/net451/app.config.install.xdt
packages/System.Data.SQLite.EF6.1.0.111.0/content/net451/app.config.transform
packages/System.Data.SQLite.EF6.1.0.111.0/content/net451/web.config.install.xdt
packages/System.Data.SQLite.EF6.1.0.111.0/content/net451/web.config.transform
packages/System.Data.SQLite.EF6.1.0.111.0/content/net46/app.config.install.xdt
packages/System.Data.SQLite.EF6.1.0.111.0/content/net46/app.config.transform
packages/System.Data.SQLite.EF6.1.0.111.0/content/net46/web.config.install.xdt
packages/System.Data.SQLite.EF6.1.0.111.0/content/net46/web.config.transform
packages/System.Data.SQLite.EF6.1.0.111.0/lib/net40/System.Data.SQLite.EF6.dll
packages/System.Data.SQLite.EF6.1.0.111.0/lib/net45/System.Data.SQLite.EF6.dll
packages/System.Data.SQLite.EF6.1.0.111.0/lib/net451/System.Data.SQLite.EF6.dll
packages/System.Data.SQLite.EF6.1.0.111.0/lib/net46/System.Data.SQLite.EF6.dll
packages/System.Data.SQLite.EF6.1.0.111.0/System.Data.SQLite.EF6.1.0.111.0.nupkg
packages/System.Data.SQLite.EF6.1.0.111.0/tools/net40/install.ps1
packages/System.Data.SQLite.EF6.1.0.111.0/tools/net45/install.ps1
packages/System.Data.SQLite.EF6.1.0.111.0/tools/net451/install.ps1
packages/System.Data.SQLite.EF6.1.0.111.0/tools/net46/install.ps1
packages/System.Data.SQLite.Linq.1.0.111.0/.signature.p7s
packages/System.Data.SQLite.Linq.1.0.111.0/content/net20/app.config.transform
packages/System.Data.SQLite.Linq.1.0.111.0/content/net20/web.config.transform
packages/System.Data.SQLite.Linq.1.0.111.0/content/net40/app.config.transform
packages/System.Data.SQLite.Linq.1.0.111.0/content/net40/web.config.transform
packages/System.Data.SQLite.Linq.1.0.111.0/content/net45/app.config.transform
packages/System.Data.SQLite.Linq.1.0.111.0/content/net45/web.config.transform
packages/System.Data.SQLite.Linq.1.0.111.0/content/net451/app.config.transform
packages/System.Data.SQLite.Linq.1.0.111.0/content/net451/web.config.transform
packages/System.Data.SQLite.Linq.1.0.111.0/content/net46/app.config.transform
packages/System.Data.SQLite.Linq.1.0.111.0/content/net46/web.config.transform
packages/System.Data.SQLite.Linq.1.0.111.0/lib/net20/System.Data.SQLite.Linq.dll
packages/System.Data.SQLite.Linq.1.0.111.0/lib/net40/System.Data.SQLite.Linq.dll
packages/System.Data.SQLite.Linq.1.0.111.0/lib/net45/System.Data.SQLite.Linq.dll
packages/System.Data.SQLite.Linq.1.0.111.0/lib/net451/System.Data.SQLite.Linq.dll
packages/System.Data.SQLite.Linq.1.0.111.0/lib/net46/System.Data.SQLite.Linq.dll
packages/System.Data.SQLite.Linq.1.0.111.0/System.Data.SQLite.Linq.1.0.111.0.nupkg
WatchExeTime.DAO/obj/Debug/TemporaryGeneratedFile_036C0B5B-1481-4323-8D20-8F5ADCB23D92.cs
WatchExeTime.DAO/obj/Debug/TemporaryGeneratedFile_5937a670-0e60-4077-877b-f7221da3dda1.cs
WatchExeTime.DAO/obj/Debug/TemporaryGeneratedFile_E7A71F73-0F8D-4B9B-B56E-8E70B10BC5D3.cs
WatchExeTime.DAO/obj/Debug/WatchExeTime.DAO.csproj.CopyComplete
WatchExeTime.DAO/obj/Debug/WatchExeTime.DAO.csproj.CoreCompileInputs.cache
WatchExeTime.DAO/obj/Debug/WatchExeTime.DAO.csproj.FileListAbsolute.txt
WatchExeTime.DAO/obj/Debug/WatchExeTime.DAO.csprojAssemblyReference.cache
WatchExeTime.DAO/obj/Debug/WatchExeTime.DAO.dll
WatchExeTime.DAO/obj/Debug/WatchExeTime.DAO.pdb
WatchExeTime.Factory/bin/Debug/Dapper.dll
WatchExeTime.Factory/bin/Debug/Dapper.pdb
WatchExeTime.Factory/bin/Debug/Dapper.xml
WatchExeTime.Factory/bin/Debug/Data/WatchQQTime.db
WatchExeTime.Factory/bin/Debug/System.Data.SQLite.dll
WatchExeTime.Factory/bin/Debug/WatchExeTime.DAO.dll
WatchExeTime.Factory/bin/Debug/WatchExeTime.DAO.dll.config
WatchExeTime.Factory/bin/Debug/WatchExeTime.DAO.IServices.dll
WatchExeTime.Factory/bin/Debug/WatchExeTime.DAO.IServices.pdb
WatchExeTime.Factory/bin/Debug/WatchExeTime.DAO.pdb
WatchExeTime.Factory/bin/Debug/WatchExeTime.DAO.Services.dll
WatchExeTime.Factory/bin/Debug/WatchExeTime.DAO.Services.pdb
WatchExeTime.Factory/bin/Debug/WatchExeTime.Factory.dll
WatchExeTime.Factory/bin/Debug/WatchExeTime.Factory.pdb
obj
bin
obj
bin
obj
bin
bin
obj
obj
bin
obj
bin
bin
obj
bin
obj
packages
obj
bin
/WatchExeTime/WatchQQTime - 20190905的数据备份.db
WatchExeTime/bin/Debug/Dapper.dll
WatchExeTime/bin/Debug/Dapper.pdb
WatchExeTime/bin/Debug/Dapper.xml
WatchExeTime/bin/Debug/Data/WatchQQTime.db
WatchExeTime/bin/Debug/System.Data.SQLite.dll
WatchExeTime/bin/Debug/WatchExeTime.BLL.dll
WatchExeTime/bin/Debug/WatchExeTime.BLL.pdb
WatchExeTime/bin/Debug/WatchExeTime.BLL.Service.dll
WatchExeTime/bin/Debug/WatchExeTime.BLL.Service.pdb
WatchExeTime/bin/Debug/WatchExeTime.DAO.dll
WatchExeTime/bin/Debug/WatchExeTime.DAO.dll.config
WatchExeTime/bin/Debug/WatchExeTime.DAO.IServices.dll
WatchExeTime/bin/Debug/WatchExeTime.DAO.IServices.pdb
WatchExeTime/bin/Debug/WatchExeTime.DAO.pdb
WatchExeTime/bin/Debug/WatchExeTime.DAO.Services.dll
WatchExeTime/bin/Debug/WatchExeTime.DAO.Services.pdb
WatchExeTime/bin/Debug/WatchExeTime.exe
WatchExeTime/bin/Debug/WatchExeTime.exe.config
WatchExeTime/bin/Debug/WatchExeTime.Factory.dll
WatchExeTime/bin/Debug/WatchExeTime.Factory.pdb
WatchExeTime.BLL/bin/Debug/Images/Logo.ico
WatchExeTime.BLL/bin/Debug/WatchExeTime.BLL.dll
WatchExeTime.BLL/bin/Debug/WatchExeTime.BLL.pdb
WatchExeTime.BLL/obj/Debug/DesignTimeResolveAssemblyReferencesInput.cache
WatchExeTime.BLL/obj/Debug/TemporaryGeneratedFile_036C0B5B-1481-4323-8D20-8F5ADCB23D92.cs
WatchExeTime.BLL/obj/Debug/TemporaryGeneratedFile_5937a670-0e60-4077-877b-f7221da3dda1.cs
WatchExeTime.BLL/obj/Debug/TemporaryGeneratedFile_E7A71F73-0F8D-4B9B-B56E-8E70B10BC5D3.cs
WatchExeTime.BLL/obj/Debug/WatchExeTime.BLL.csproj.CoreCompileInputs.cache
WatchExeTime.BLL/obj/Debug/WatchExeTime.BLL.csproj.FileListAbsolute.txt
WatchExeTime.BLL/obj/Debug/WatchExeTime.BLL.csprojAssemblyReference.cache
WatchExeTime.BLL/obj/Debug/WatchExeTime.BLL.dll
WatchExeTime.BLL/obj/Debug/WatchExeTime.BLL.pdb
WatchExeTime.BLL/obj/Release/TemporaryGeneratedFile_036C0B5B-1481-4323-8D20-8F5ADCB23D92.cs
WatchExeTime.BLL/obj/Release/TemporaryGeneratedFile_5937a670-0e60-4077-877b-f7221da3dda1.cs
WatchExeTime.BLL/obj/Release/TemporaryGeneratedFile_E7A71F73-0F8D-4B9B-B56E-8E70B10BC5D3.cs
/WatchExeTime/obj
/WatchExeTime/bin
/WatchExeTime.BLL/bin
/WatchExeTime.BLL/obj
/WatchExeTime.BLL.Service/obj
/WatchExeTime.BLL.Service/bin
WatchExeTime.BLL.Service/bin/Debug/Data/WatchQQTime.db
WatchExeTime.BLL.Service/bin/Debug/System.Data.SQLite.dll
WatchExeTime.BLL.Service/bin/Debug/WatchExeTime.BLL.Service.dll
WatchExeTime.BLL.Service/bin/Debug/WatchExeTime.BLL.Service.pdb
WatchExeTime.BLL.Service/bin/Debug/WatchExeTime.DAO.dll
WatchExeTime.BLL.Service/bin/Debug/WatchExeTime.DAO.dll.config
WatchExeTime.BLL.Service/bin/Debug/WatchExeTime.DAO.IServices.dll
WatchExeTime.BLL.Service/bin/Debug/WatchExeTime.DAO.IServices.pdb
WatchExeTime.BLL.Service/bin/Debug/WatchExeTime.DAO.pdb
WatchExeTime.BLL.Service/bin/Debug/WatchExeTime.DAO.Services.dll
WatchExeTime.BLL.Service/bin/Debug/WatchExeTime.DAO.Services.pdb
WatchExeTime.BLL.Service/bin/Debug/WatchExeTime.Factory.dll
WatchExeTime.BLL.Service/bin/Debug/WatchExeTime.Factory.pdb
WatchExeTime.BLL.Service/bin/Debug/Data/WatchQQTime.db
WatchExeTime.BLL.Service/bin/Debug/WatchExeTime.BLL.Service.dll
WatchExeTime.BLL.Service/bin/Debug/WatchExeTime.BLL.Service.pdb
WatchExeTime.BLL.Service/bin/Debug/WatchExeTime.DAO.dll
WatchExeTime.BLL.Service/bin/Debug/WatchExeTime.DAO.IServices.dll
WatchExeTime.BLL.Service/bin/Debug/WatchExeTime.DAO.pdb
WatchExeTime.BLL.Service/bin/Debug/WatchExeTime.DAO.Services.dll
WatchExeTime.BLL.Service/bin/Debug/WatchExeTime.DAO.Services.pdb
WatchExeTime.BLL.Service/bin/Debug/WatchExeTime.Factory.dll
WatchExeTime.BLL.Service/bin/Debug/WatchExeTime.Factory.pdb
WatchExeTime.BLL.Service/obj/Debug/WatchExeTime.BLL.Service.dll
WatchExeTime.BLL.Service/obj/Debug/WatchExeTime.BLL.Service.pdb
WatchExeTime.BLL/bin/Debug/WatchExeTime.BLL.dll
WatchExeTime.BLL/bin/Debug/WatchExeTime.BLL.pdb
WatchExeTime.BLL/obj/Debug/WatchExeTime.BLL.csproj.CoreCompileInputs.cache
WatchExeTime.BLL/obj/Debug/WatchExeTime.BLL.csproj.FileListAbsolute.txt
WatchExeTime.BLL/obj/Debug/WatchExeTime.BLL.csprojAssemblyReference.cache
WatchExeTime.BLL/obj/Debug/WatchExeTime.BLL.dll
WatchExeTime.BLL/obj/Debug/WatchExeTime.BLL.pdb
WatchExeTime.DAO.IServices/bin/Debug/Data/WatchQQTime.db
WatchExeTime.DAO.IServices/bin/Debug/WatchExeTime.DAO.dll
WatchExeTime.DAO.IServices/bin/Debug/WatchExeTime.DAO.IServices.dll
WatchExeTime.DAO.IServices/bin/Debug/WatchExeTime.DAO.pdb
WatchExeTime.DAO.IServices/obj/Debug/WatchExeTime.DAO.IServices.csprojAssemblyReference.cache
WatchExeTime.DAO.IServices/obj/Debug/WatchExeTime.DAO.IServices.dll
WatchExeTime.DAO.Services/bin/Debug/Data/WatchQQTime.db
WatchExeTime.DAO.Services/bin/Debug/WatchExeTime.DAO.dll
WatchExeTime.DAO.Services/bin/Debug/WatchExeTime.DAO.IServices.dll
WatchExeTime.DAO.Services/bin/Debug/WatchExeTime.DAO.pdb
WatchExeTime.DAO.Services/bin/Debug/WatchExeTime.DAO.Services.dll
WatchExeTime.DAO.Services/bin/Debug/WatchExeTime.DAO.Services.pdb
WatchExeTime.DAO.Services/obj/Debug/WatchExeTime.DAO.Services.csproj.CoreCompileInputs.cache
WatchExeTime.DAO.Services/obj/Debug/WatchExeTime.DAO.Services.csproj.FileListAbsolute.txt
WatchExeTime.DAO.Services/obj/Debug/WatchExeTime.DAO.Services.csprojAssemblyReference.cache
WatchExeTime.DAO.Services/obj/Debug/WatchExeTime.DAO.Services.dll
WatchExeTime.DAO.Services/obj/Debug/WatchExeTime.DAO.Services.pdb
WatchExeTime.DAO/bin/Debug/Data/WatchQQTime.db
WatchExeTime.DAO/bin/Debug/WatchExeTime.DAO.dll
WatchExeTime.DAO/bin/Debug/WatchExeTime.DAO.pdb
WatchExeTime.Factory/bin/Release/Data/WatchQQTime.db
WatchExeTime.Factory/bin/Release/WatchExeTime.DAO.IServices.dll
WatchExeTime.Factory/bin/Release/WatchExeTime.DAO.Services.dll
WatchExeTime.Factory/bin/Release/WatchExeTime.DAO.Services.pdb
WatchExeTime.Factory/obj/Debug/WatchExeTime.Factory.csprojAssemblyReference.cache
WatchExeTime.Factory/obj/Release/WatchExeTime.Factory.csprojAssemblyReference.cache
WatchExeTime/bin/Debug/WatchExeTime.BLL.dll
WatchExeTime/bin/Debug/WatchExeTime.BLL.pdb
WatchExeTime/bin/Debug/WatchExeTime.BLL.Service.dll
WatchExeTime/bin/Debug/WatchExeTime.BLL.Service.pdb
WatchExeTime/bin/Debug/WatchExeTime.DAO.dll
WatchExeTime/bin/Debug/WatchExeTime.DAO.IServices.dll
WatchExeTime/bin/Debug/WatchExeTime.DAO.pdb
WatchExeTime/bin/Debug/WatchExeTime.DAO.Services.dll
WatchExeTime/bin/Debug/WatchExeTime.DAO.Services.pdb
WatchExeTime/bin/Debug/WatchExeTime.exe
WatchExeTime/bin/Debug/WatchExeTime.Factory.dll
WatchExeTime/bin/Debug/WatchExeTime.Factory.pdb
WatchExeTime/bin/Debug/WatchExeTime.pdb
WatchExeTime/obj/Debug/App.baml
WatchExeTime/obj/Debug/App.g.cs
WatchExeTime/obj/Debug/App.g.i.cs
WatchExeTime/obj/Debug/Converter/Converter.baml
WatchExeTime/obj/Debug/DesignTimeResolveAssemblyReferencesInput.cache
WatchExeTime/obj/Debug/GeneratedInternalTypeHelper.g.cs
WatchExeTime/obj/Debug/Views/MainWindow.baml
WatchExeTime/obj/Debug/Views/MainWindow.g.cs
WatchExeTime/obj/Debug/Views/MainWindow.g.i.cs
WatchExeTime/obj/Debug/WatchExeTime.csproj.CoreCompileInputs.cache
WatchExeTime/obj/Debug/WatchExeTime.csproj.FileListAbsolute.txt
WatchExeTime/obj/Debug/WatchExeTime.csprojAssemblyReference.cache
WatchExeTime/obj/Debug/WatchExeTime.exe
WatchExeTime/obj/Debug/WatchExeTime.g.resources
WatchExeTime/obj/Debug/WatchExeTime.pdb
WatchExeTime/obj/Debug/WatchExeTime_Content.g.i.cs
WatchExeTime/obj/Debug/WatchExeTime_MarkupCompile.cache
WatchExeTime/obj/Debug/WatchExeTime_MarkupCompile.i.cache
WatchExeTime/obj/Debug/WatchExeTime_MarkupCompile.i.lref
WatchExeTime/obj/Debug/WatchExeTime_MarkupCompile.lref
.vs/WatchExeTime/v15/Server/sqlite3/storage.ide-wal
.vs/WatchExeTime/v15/Server/sqlite3/storage.ide-shm
.vs/WatchExeTime/v15/Server/sqlite3/storage.ide
.vs/WatchExeTime/v15/Server/sqlite3/db.lock
.vs/WatchExeTime/v15/.suo
